@page
@model MainService.Pages_ContactUs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ContactUs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.DateTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ContactUs.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
