@page
@model MainService.Pages_ContactUs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContactUs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUs.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactUs.DateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ContactUs.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
